* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reel {
  background-image: url("https://ychef.files.bbci.co.uk/1200x675/p08h02kk.jpg");
  background-size: cover;
  height: 400px;
}

.reel_images_feature {
  height: 228px;
  width: 405px;
  object-fit: cover;
}

.reel_media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.reel_images_title {
  height: 60px;
  width: 405px;
  background-color: white;
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .reel {
    background-image: url("https://ychef.files.bbci.co.uk/1200x675/p08h02kk.jpg");
    background-size: cover;
    height: 900px;
  }

  .reel_media {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
  }

  .reel_images_feature {
    height: 221px;
    width: 393px;
    object-fit: cover;
  }

  .reel_images_title {
    height: 60px;
    width: 393px;
    background-color: white;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
/*

.reel {
    background-image: url("https://ychef.files.bbci.co.uk/1200x675/p08h02kk.jpg");
    background-size: cover;
    height: 450px;
    position: relative;
  }
  
  .reell-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: absolute;
    top: 20%;
    left: 80px;
  }
  
  .reeltext {
    background: white;
    width: 405.34px;
    height: 60px;
    position: absolute;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .reel-subject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 125px 0px 77px;
    align-items: center;
    height: 70px;
    position: relative;
    color: #fff;
    font-size: 40px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .pee {
    position: absolute;
    top: 60px;
    left: 78px;
    color: #fff;
    font-family: sans-serif;
  }
  
  button {
    height: 34px;
    width: 120px;
    border-radius: 18px;
    border: 1.5px solid white;
    display: inline;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transition: 1.7s ease;
  }
  
  button:hover {
    background-color: black;
  }

  */
