body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 15px;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

#flex-container {
  display: flex;
}

#navbar {
  background-color: white;
  height: 100vh;
  border-right: 2px solid black;
  color: black;
  overflow: scroll;
  flex-basis: 20%;
}

.nav_contents {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.nav_content_link {
  border-bottom: 1px solid grey;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav_content_link:hover,
.nav-l:hover {
  background-color: grey;
  transition: background-color 0.5s ease-in-out;
}

.thumbnails {
  flex-basis: 80%;
}

.nav-l {
  padding: 10px;
  text-decoration: none;
}

.nav_header_border {
  border-top: 1px solid grey;
  padding-top: 10px;
  text-decoration: none;
  color: black;
}
/* Thumbnails Section */

.navbar_thumbnails {
  width: 80%;
  display: flex;
  background-color: plum;
  justify-content: space-between;
  position: fixed;
  color: white;
  top: 0px;
  align-items: center;
  height: 75px;
  font-family: Raleway;
  overflow: scroll;
}

.navbar_thumbnails_list {
  display: flex;
  list-style: none;
}

.navbar_thumbnails_list_links {
  flex-shrink: 0;
}
.navbar_thumbnails_list_links a {
  padding: 0 20px;
  text-decoration: none;
  color: white;
}

.videos {
  color: white;
  display: flex;
  margin-top: 100px;
  flex-basis: 80%;
  width: 100%;
}

.left-section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-section-card__items {
  border: 2px solid white;
  height: 200px;
  margin-bottom: 10px;
}
