* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.n- {
  margin: 20px;
}

.broadcast {
  width: 100%;
  padding: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  padding-bottom: 20px;
}

.container {
  display: flex;
  padding-bottom: 20px;
}
.leftt,
.rightt {
  flex: 1;
  height: auto;
  position: relative;
  padding-bottom: 0;
}

.main-topic,
.main-subs {
  position: absolute;
  bottom: 0;
  padding: 0 20px 10px 20px;
}
.main-topic {
  font-family: sans-serif;
}

.topx {
  position: relative;
}
.boxx {
  width: calc(50% - 4px);
  margin: 1px 2px;
  display: flex;
  background: rgb(47, 58, 29);
  color: white;
  height: auto;
}

.rightt {
  flex-wrap: wrap;
}

.news {
  display: flex;
  padding-top: 20px;
}

.Boxxx {
  height: auto;
  background: white;
  margin: 5px 2px;
  width: calc(100% / 3);
}

.card-imgs,
a {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardhead {
  height: 165px;
  font-family: sans-serif;
  position: relative;
}

.cardlink,
.card-newssection {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
}

.cardlink:hover {
  text-decoration: underline;
}

.card-title,
.card-excerpt {
  margin-bottom: 10px;
  font-family: sans-serif;
}
.card-tag {
  font-weight: 300;
  border-left: 2px solid;
  padding-left: 6px;
  font-size: 13px;
  font-family: sans-serif;
}
.card-tag-red {
  border-color: red;
}

.card-tag-blue {
  border-color: #47a1d8;
}

.card-tag-yellow {
  border-color: yellow;
}

.card-tag-indigo {
  border-color: #362e67;
}

.card-tag-black {
  border-color: black;
}

.card-tag-header {
  font-weight: 300;
  border-left: 4px solid;
  padding-left: 6px;
  margin-left: 2px;
}
.card-tag-reds {
  border-color: red;
}
.heading {
  margin-top: 30px;
}

.card-subtopic {
  position: absolute;
  bottom: 0;
}

.card-excerpt {
  position: relative;
}

.card-overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.reel {
  background-image: url("https://ychef.files.bbci.co.uk/1200x675/p08h02kk.jpg");
  background-size: cover;
  height: 450px;
  position: relative;
}

.reell-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: absolute;
  top: 20%;
  left: 80px;
}

.reeltext {
  background: white;
  width: 405.34px;
  height: 60px;
  position: absolute;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 10px;
}

.reel-subject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 125px 0px 77px;
  align-items: center;
  height: 70px;
  position: relative;
  color: #fff;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.pee {
  position: absolute;
  top: 60px;
  left: 78px;
  color: #fff;
  font-family: sans-serif;
}

button {
  height: 34px;
  width: 120px;
  border-radius: 18px;
  border: 1.5px solid white;
  display: inline;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: 1.7s ease;
}

button:hover {
  background-color: black;
}

.a-container {
  display: flex;
  flex-wrap: wrap;
}

.a-child {
  background: 0;
  margin: 10px 10px;
  padding: 0px;
  width: 31.1%;
  height: 200px;
}

.a-left {
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
}

.a-right {
  flex-basis: 30%;
}

.a-child-right {
  background: silver;
  height: 100px;
  margin: 2px;
  padding: 2px;
}
.a-child-right-title {
  background: silver;
  height: 50px;
  margin: 2px;
  padding: 2px;
}

.a-child:nth-child(1) {
  width: 100%;
  height: 400px;
  margin: 0 10px;
  position: relative;
  padding-bottom: 0;
}

.a-card-imgs,
a {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.a-main-topic,
.a-main-subs {
  position: absolute;
  bottom: 0;
  padding: 0 20px 10px 20px;
}

.a-cardhead {
  height: auto;
}

.n-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
}

.left {
  flex-basis: calc(70% - 20px);
  display: flex;
  flex-wrap: wrap;
}

.right {
  flex-basis: 30%;
}

.child-right {
  background: silver;
  height: 100px;
  margin: 2px;
  padding: 2px;
}
.child-right-title {
  background: silver;
  height: 50px;
  margin: 2px;
  padding: 2px;
}
/*
.e-card {
  width: 100%;
}
*/

.e-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.e-card__item {
  width: calc(33.333% - 10px);
  margin-bottom: 15px;
}

.e-card__item--highlight {
  background-color: blue;
  width: 100%;
  height: 400px;
}

.i-card {
  position: relative;
  height: 100%;
  color: #fff;
}

.i-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.i-card__content {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.i-card__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600px;
  margin-bottom: 10px;
}

.i-card__subtitle {
  font-size: 18px;
  line-height: 21px;
}

.h-card {
  box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
}

.h-card__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.h-card__content {
  padding: 10px;
}

.h-card__title {
  font-size: 18px;
  font-weight: 700px;
  margin-bottom: 5px;
}

.h-card__subtitle {
  font-size: 15px;
  line-height: 20px;
}

.right-section {
  flex-basis: 30%;
  width: 100%;
}

.right-section-card__items {
  border: 2px solid black;
  height: 100px;
  color: #fff;
}

.right-section-card__title {
  height: 50px;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 12px;
  font-family: Roboto;
  display: flex;
}

.business_news_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  padding: 20px;
}

.business_news_list_bullet_topic {
  margin-left: 20px;
  font-size: 20px;
}

.business_news_list_bullet {
  color: #fff;
  border-radius: 50%;
  background-color: red;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
}

.bg_color_black {
  background-color: rgb(54, 54, 54);
}

.bg_color_grey {
  background-color: rgb(100, 100, 100);
}
